@import '../../scss//colors.scss';

.Services {
  &__card {
    border: 0;
    position: relative;
    z-index: 3;

    background: rgba($color: $white, $alpha: 0.7);

    &--active {
      background: $yellow;
    }
  }
}