@import '../../scss/colors.scss';

$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 710px,
  xl: 780px,
) !default;

.Projects {
  &__container {
    position: relative;
    margin-bottom: 50px;
    z-index: 2;

    &--vibrant {
      &:nth-child(odd) {
        background: $mouse-selection-background-color;
      }
    }
    
    &--box-shadow {
      box-shadow: 0 1.5rem 5rem $light-shadow-black;
    }

    &__title {
      font-weight: 600;
      margin: 2em 0;
    }

    &__content {
      background-color: $white;

      &__item {
        &__overview {
          padding: 1rem !important;
          
          &:hover {
            h2 {
              color: $light-green;
            }
          }

          @media (min-width: 600px) {
            padding: 3rem !important;
          }

          h2 {
            margin-bottom: 0.7em;
          }

          h3 {
            font-weight: 400;
          }
        }
        &__thumbnail {
          img {
            display: block;
            margin: 0 auto;
            max-height: 300px;
          }
          @media (min-width: 800px) {
            img {
              max-height: 50vh;
              display: none;
            }
          }
        }
      }
    }

    &__labels {
      margin: 2.5em 0 1em 0;
    }

    &__label {
      text-transform: uppercase;

      &--bold {
        font-weight: bolder;
      }

      &--split {
        margin-right: 20px;
        display: inline-block;
        font-weight: 300;
      }
    }
  }
}