.Leafs {
  &__layer {
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
  }

  #l2 {
    top: 190px;
    left: -250px;
  }

  #l3 {
    top: 200px;
    left: 40%;
  }

  #l4 {
    top: 100px;
    right: 40%;
  }

  #l5 {
    top: 100px;
    right: 150px;
  }

  #l6 {
    bottom: -20px;
    left: 10%;
  }

  #l7 {
    bottom: 100px;
    left: 20%
  }

  #l8 {
    bottom: 130px;
    right: 45%;
  }

  #l9 {
    bottom: 250px;
    right: 10px;
  }
}