$intro-margin-bottom: 0.7em;

.Intro {
  position: relative;

  &__greeting, &__heading, &__subheading {
    margin: $intro-margin-bottom auto;
    position: relative;
    z-index: 2;
  }

  &__heading {
    letter-spacing: -0.03em;
  }

  &__call-to-action {
    margin-top: 3em;
  }
}