.Footer {
  &__contact-information {
    margin-bottom: 20px;
  }

  &__call-to-action {
    &--heading {
      margin-bottom: 30px;
    }
  }

  &__contact-information {
    margin-top: 20px;
  }

  &__label {
    &--uppercase {
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 0;
    }
    &--highlight {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__copyright {
    text-align: center;
    margin-top: 50px;
  }
}