.Footer {
  margin-top: 100px;

  &__call-to-action {
    &--heading {
      margin-bottom: 50px;
    }
    &--illustration {
      height: 200px;
      background: url(../../assets/images/bg-desk.svg) left / cover no-repeat;
    }
  }

  &__contact-information {
    margin: 30px 0 20px 0;
  }

  &__label {
    &--uppercase {
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 0;
    }
    &--highlight {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__copyright {
    text-align: center;
    margin-top: 50px;
  }
}