// Overall aspect of the site
$font-color: #495057 !default;
$heading-color: #000 !default;
$background-primary-color: #03a9f4 !default;
$background-secondary-color: #90B82C !default;
$background-dark-color: #042f4b !default;
$hover-shadow-color: #cce6fc;
$mouse-selection-background-color: #fff6da;
$mouse-selection-text-color: #000;