$text-color: #495057 !default;
$heading-color: #000 !default;
$white: #fff !default;

$background-primary: #03a9f4 !default; // #41228e
$background-primary-lighter: #90B82C !default; // #0273f4

$hover-shadow-color: #cce6fc; // rgba(224, 241, 255, .54)
