$breakpoint-sm: 540px;
$breakpoint-md: 640px;
$breakpoint-lg: 710px;
$breakpoint-xl: 780px;

$global-page-line-height: 1.2;
$global-font-size: 16px;

$paragraph-font-size: $global-font-size;
$paragraph-line-height: 1.8;
$paragraph-font-weight: 400;