@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './colors.scss';
@import './constants.scss';
@import './typography.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
}

::selection {
  background: $mouse-selection-background-color;
  color: $mouse-selection-text-color;
}

.cursor-pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

ol,
ul {
  list-style-type: none;
  margin: 0
}

img {
  vertical-align: middle;
  border: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

a.text-light {
  color: #fff !important;
}

a.text-light:hover {
  color: #fff !important;
  text-decoration: underline;
}

a.bold {
  font-weight: bolder;
}

a.text-dark:hover {
  color: $background-primary-color !important
}

a:hover {
  color: $background-primary-color
}

.rounded-lg {
  border-radius: 15px
}

.overflow-hidden {
  overflow: hidden
}

.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34) !important
}

.slick-dots {
  text-align: center;
  padding-left: 0
}

.slick-dots li {
  display: inline-block;
  margin: 2px
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, .5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid $background-primary-color;
  font-style: italic;
  font-size: 22px
}

.content * {
  margin-bottom: 20px
}

.content strong {
  font-family: playfair display, serif;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  display: inherit;
  line-height: 1.5
}

.page-title-alt {
  padding: 350px 0 70px
}

.border-thick {
  border: 10px solid
}

.max-width-parent {
  max-width: 100%;
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px
}

.form-control:focus {
  border-color: $background-primary-color;
  outline: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 120px
}