@import './colors.scss';
@import './constants.scss';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap');

body {
  font-family: Oxygen, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: $global-page-line-height;
  font-size: $global-font-size;
  -webkit-font-smoothing: antialiased;
  color: $font-color;
}

p {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -1px; // for better readability
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  line-height: $global-page-line-height;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

@media (max-width: 991px) {
  h1 {
    font-size: 3em
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}

@media (max-width: $breakpoint-md) {
  h1 {
    font-size: 2em
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
    line-height: 1.4em;
  }
}

.text-lighter {
  font-weight: 400;
  color: #444;
}