.Grid {
  &__container {

    @media (max-width: 600px) {
      display: block;
    }

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    margin: 3em 0;

    @media (min-width: 601px) {
      & > div {
        width: 50%;
      }
      & > div:first-child {
        margin-right: 20px;
      }
    }
  }

  &--background-yellow {
    background-color: #fed102;
  }

  &--box-shadow {
    box-shadow: 0 1.5rem 5rem rgba(0,0,0,.15);
  }

  &--half-view-height {
    min-height: 50vh;
  }
}