.max-width {
  position: relative
}

@media (min-width: 767px) {
  .max-width {
    padding: 3em 1em 1em 9em;
  }
}

@media (max-width: 600px) {
  .max-width {
    padding: 1.3em 0;
    overflow: hidden
  }
}