.max-width {
  padding: 3em 1em 1em 9em;
  position: relative
}

@media (max-width:767px) {
  .max-width {
    overflow: hidden
  }
}

@media (max-width:600px) {
  .max-width {
    padding: 4em 1em;
    overflow: hidden
  }
}